# Ignore common Unreal Engine directories and files for all projects
**/Saved/
**/Intermediate/
**/Build/
**/Binaries/
**/DerivedDataCache/
**/.vs/
**/*.sln
**/*.VC.db
**/*.VC.opendb
**/*.log
**/Config/Local/
**/Plugins/*/Intermediate/
**/Plugins/*/Binaries/
**/*.uprojectdirs
**/*.generated.*
**/*.bak
**/*_Backup_*/
**/*.tmp
**/*.cache